body{
background-color: #000000;
font-family: "DejaVu Sans", Arial, sans-serif;
}

input{
font-family: "DejaVu Sans", Arial, sans-serif;
font-size: 
}

.custDmnPat{
background-color: #000000;
border-spacing: 6px;
border: 1px solid #888888;
border-radius: 8px;
width: 100%;
margin-bottom: 20px;
}

.custDmnPat th,td{
background-color: transparent;
padding: 4px 8px 4px 8px;
border-radius: 4px;
}

.custDmnPat thead th {
text-align: left;
background-color: #888888;
}

textarea{
width: 100%;
height: 100px;
background-color: #000000;
border: 1px solid #888888;
color: #888888;
border-radius: 4px;
padding: 4px 6px 4px 6px;
box-sizing: border-box;
}

textarea::placeholder{
color: #404040;
}

.savePref{
border: 1px solid #888888;
border-radius: 4px;
background-color: #888888;
font-weight: 550;
padding: 6px 12px 6px 12px;
}

.notify{
border: 1px solid #FFA4B2;
border-radius: 3px;
background-color: #FFD2D9;
padding: 4px 4px 4px 4px;
color: #FF3B5A;
text-align: center;
margin-bottom: 4px;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

#show{
opacity: 1;
max-height: 200px;
margin-bottom: 10px;
}

#fadeOut{
animation:opac 5s;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

@keyframes opac{
0%{opacity:1; max-height: 200px; margin-bottom: 20px;}
99%{opacity:0; max-height: 200px; margin-bottom: 20px;}
100%{max-height: 0px; margin-bottom: 0px;}
}
