html, body {
  width: auto;
  font-family: "DejaVu Sans", Arial, sans-serif;
  background-color: #000000;
  font-size: 10pt;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body > div{
margin-bottom: 5px;
}

a{
text-decoration: none;
color: #0852ff;
font-weight: 700;
}

a:visited{
text-decoration: none;
color: #0852ff;
font-weight: 700;
}

.button {
  margin: 3% auto;
  padding: 2px;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  border: 1px solid #888888;
}

.button:focus{
  border: 1px solid #000000;
}

.nowbtn{
width: 100%;
text-align: right;
}

.addToIgn{
width: 100%;
text-align: right;
}

.addToApply{
margin-bottom: 10px;
width: 100%;
text-align: right;
}

.switch{
margin-top: 8px;
width: 100%;
text-align: right;
}

.btn{
border: 1px solid #888888;
background-color: #31B0D5;
color: #f8f8f8;
padding: 3px 5px 3px 5px;
border-radius: 4px;
margin: 0px 0px 0px 0px;
font-family: "sans-serif";
}

.btn:active{
border-color: #888888;
}

#tgl{
display: none;
}

#tgl:checked+.btn{
background-color: #31B0D5;
color: #ffffff;
}

#tgl:checked+.btn::before{
content: "auto prune";
}

#tgl+.btn{
background-color: black;
color: #888888;
}

#tgl+.btn::before{
content: "manual prune";
}

a{
font-size: smaller;
font-family: "sans-serif";
text-decoration: none;
}

.about{
margin-top: 8px;
width: 100%;
text-align: right;
}

.notify{
border: 1px solid #FFA4B2;
border-radius: 3px;
background-color: #FFD2D9;
padding: 4px 4px 4px 4px;
color: #FF3B5A;
text-align: center;
margin-bottom: 4px;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

#fadeOut{
animation:opac 5s;
opacity: 0;
height: auto;
max-height: 0px;
margin-bottom: 0px;
}

@keyframes opac{
0%{opacity:1; max-height: 200px; margin-bottom: 4px;}
99%{opacity:0; max-height: 200px; margin-bottom: 4px;}
100%{max-height: 0px; margin-bottom: 0px;}
}

